@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel:wght@500&family=Teko&display=swap");

* {
    font-family: 'Cinzel', serif;
    background-color: #455A64;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    font-size: 35px;
}

.navbar h1 {
    color: #FF9800;;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
}

.navbar a:hover {
    color: #f1356d;
}

.home-header{
    text-align: center;
    margin: 0px 25%;
    border-radius: 5px;
}

.your-card-header{
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    background-color: #FF9800;
    margin: 5px 15%;
    border-radius: 5px;
}

.all-card-header{
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    background-color: #FF9800;
    margin: 5px 15%;
    border-radius: 5px;
}

.your-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0% 4%;
}

.your-cards  button {
    background-color: #ECEFF1;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1%;
}


.all-cards button {
    background-color: #ECEFF1;
}